@import url("https://fonts.googleapis.com/css2?family=Crete+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  transition: all 0.2s linear;

  --nav-color: #3c3a39;
  --background: #e5e5e5;
  --orange-text: #ff6b00;
  --white-text: #fff5e1;
  --black-clr: #1c1a19;
  --grey-black: #262626;
  --dull-btn: rgba(255, 255, 255, 0.24);
  --dull-background: rgba(151, 148, 147, 1);
  --crete-font: "Crete Round", serif;
  --poppins-font: "Poppins", sans-serif;
  --roborto-font: "Roboto", sans-serif;
  --inter-font: "Inter", sans-serif;
}

a {
  color: var(--white-text);
}

body {
  background-color: var(--background);
}

.btn {
  background-color: var(--orange-text);
  color: var(--white-text);
  font-family: var(--inter-font);
  border: none;
  cursor: pointer;
}

nav {
  display: flex;
  background: transparent;
  justify-content: space-between;
  height: 48px;
  align-items: center;
  padding: 24px 12px;
  font-family: var(--roborto-font);
  color: var(--white-text);
  z-index: 1;
  position: fixed;
  width: 100%;
  top: 0;
  transition: 0.3s;
}

nav #desktop-menu {
  display: none;
  padding: 70px;
  font-size: 32px;
  position: absolute;
  background-color: var(--nav-color);
  top: 0;
}

nav #desktop-menu.active {
  display: flex;
  flex-direction: column;
  background-color: var(--nav-color);
  position: absolute;
  top: 48px;
  left: 0;
  justify-content: flex-start;
  align-items: center;
  gap: 25px;
  font-size: 32px;
  width: 100%;
}

.sticky {
  background-color: var(--nav-color);
}

.first {
  color: var(--orange-text);
}

.sec {
  display: flex;
}

#headline-sec {
  background-color: var(--black-clr);
  background-image: url(assests/mobile/headlinebg.png);
  background-repeat: no-repeat;
  background-position: 100% 126%;
}

.container {
  display: flex;
  flex-direction: column;
}

.headline {
  margin-top: 120px;
  gap: 12px;
  padding: 0 24px;
  color: var(--white-text);
}

.headline h2 {
  color: var(--orange-text);
  font-family: var(--crete-font);
  font-weight: 400;
  font-size: 56px;
}

.headline .text-animate h3 {
  font-family: var(--roborto-font);
  font-weight: 700;
  font-size: 24px;
  color: transparent;
  -webkit-text-stroke: 0.7px var(--white-text);
  background-image: linear-gradient(var(--white-text), var(--white-text));
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  background-position: 0 0;
  animation: homeBgText 6s linear infinite;
  animation-delay: 2s;
}

.headline p {
  font-family: var(--poppins-font);
  font-size: 16px;
  line-height: 24px;
}

.icons {
  display: flex;
  gap: 12px;
  margin-top: 12px;
  margin-bottom: 120px;
  align-items: center;
}

#recent-sec {
  background-color: var(--background);
}

.recent-works {
  margin: 120px 0;
  align-items: center;
}

.recent-works h2 {
  font-family: var(--crete-font);
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  border-bottom: 1px solid #212121;
  padding-bottom: 24px;
  text-align: center;
}

.recent-works #projects {
  margin-top: 24px;
  padding: 0 2px;
}

.recent-works #projects .project {
  margin-top: 24px;
  padding: 0 10px;
  display: none;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border-radius: 10px;
}

.recent-works #projects .project h3 {
  padding-top: 72px;
  font-family: var(--crete-font);
  font-size: 32px;
  line-height: 44px;
  color: #fff;
}

.recent-works #projects .project #project-descp {
  color: #fff;
  padding-top: 93px;
  font-family: var(--inter-font);
  font-size: 16px;
  line-height: 24px;
  height: 185px;
  overflow: hidden;
}

.recent-works #projects .project .tags {
  display: flex;
  padding-top: 12px;
  gap: 10px;
}

.recent-works #projects .project .tags p {
  border: 1px solid var(--black-clr);
  padding: 10px 4px;
  background-color: var(--dull-btn);
  color: var(--white-text);
  font-family: var(--inter-font);
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}

.recent-works #projects .project .btn-container {
  margin: 22px 0;
}

.recent-works #projects .project .btn-container .see {
  width: 100%;
  background-color: var(--orange-text);
  color: var(--white-text);
  font-family: var(--inter-font);
  font-weight: 700;
  line-height: 24px;
  font-size: 17px;
  height: 48px;
  border: none;
  border-radius: 5px;
}

.recent-works #projects .project:nth-child(1),
.recent-works #projects .project:nth-child(2),
.recent-works #projects .project:nth-child(3) {
  display: inline-block;
}

.recent-works #projects #fullstack_prcjt {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(assests/projects/homely.png);
}

.recent-works #projects #everypenny {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(assests/projects/everypenny.png);
}

.recent-works #projects #prcjt1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(assests/projects/leaderboard.jpg);
}

.recent-works #projects #prcjt2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(assests/projects/metrics-webapp.jpg);
}

.recent-works #projects #prcjt3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(assests/projects/tv-hub.jpg);
}

.recent-works #projects #prcjt4 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(assests/projects/bookstore.jpg);
}

.recent-works #projects #prcjt5 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(assests/projects/awesomebooks.jpg);
}

.recent-works #projects #prcjt6 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(assests/projects/capsotne1.jpg);
}

.recent-works #projects #prcjt7 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(assests/projects/todolist.jpg);
}

.recent-works #load-more {
  width: 200px;
  margin-top: 20px;
  display: inline-block;
  padding: 5px 10px;
  font-size: 22px;
  align-self: center;
  border-radius: 12pc;
}

.popup {
  background: rgba(130, 130, 130, 0.78);
  position: fixed;
  top: 0;
  height: 100%;
  z-index: 2;
}

.popup .popup-container {
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  padding: 20px 16px;
  margin: 20px 16px;
  border-radius: 5px;
}

.popup .popup-container .popup-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.popup .popup-container .popup-top h4 {
  color: #172b4d;
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
}

.popup .popup-container .popup-top img {
  height: 20px;
}

.popup .popup-container .tags {
  display: flex;
  padding-top: 12px;
  gap: 5px;
}

.popup .popup-container .tags p {
  border: 1px solid var(--black-clr);
  padding: 5px 6px;
  background-color: var(--dull-btn);
  color: var(--black-clr);
  font-family: var(--inter-font);
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}

.popup .popup-container .project-desc {
  padding: 10px 0;
}

.popup .popup-container .project-desc p {
  font-family: var(--inter-font);
  font-size: 16px;
  line-height: 24px;
  padding: 10px;
  max-height: 130px;
}

.popup .popup-container .project-img {
  display: flex;
  justify-content: center;
}

.popup .popup-container .project-img img {
  margin: 24px 0;
  max-width: 100%;
  max-height: 250px;
  border-radius: 5px;
}

.popup .popup-container .project-links {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  margin: 10px 0;
  position: absolute;
  top: 85%;
}

.popup .popup-container .project-links button {
  padding: 10px;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  border-radius: 10px;
}

.popup .popup-container .project-links button a {
  display: flex;
  align-items: center;
  gap: 10px;
}

.popup .popup-container .project-links button a img {
  width: 20px;
  height: 20px;
}

.about {
  background-image: url(assests/mobile/aboutmebg.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-color: var(--grey-black);
  padding: 0 24px;
}

.about .about-me {
  border-bottom: 1px solid #fff;
  padding-bottom: 209px;
}

.about .about-me h3 {
  margin-top: 120px;
  font-family: var(--crete-font);
  font-weight: 400;
  font-size: 70px;
  line-height: 88px;
  color: var(--orange-text);
}

.about .about-me p {
  margin-top: 24px;
  color: var(--white-text);
  font-family: var(--inter-font);
  font-size: 16px;
  line-height: 24px;
}

.about .about-me button {
  margin-top: 24px;
  width: 156px;
  height: 48px;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
}

.skills {
  background-color: var(--grey-black);
  align-items: center;
  flex-direction: column;
  padding: 136px 0;
}

.skills .skill {
  align-items: center;
  margin-top: 44px;
}

.skills .skill h4 {
  font-family: var(--inter-font);
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: var(--white-text);
  display: flex;
  align-items: center;
  gap: 15px;
}

.skills .skill p {
  font-family: var(--inter-font);
  font-size: 22px;
  line-height: 42px;
  color: var(--white-text);
}

.skills .skill .single-skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 44px;
}

.contact {
  background-color: var(--background);
  flex-direction: column;
  margin: 0 23px;
  padding: 70px 0;
}

.contact p {
  font-family: var(--inter-font);
  font-size: 32px;
  line-height: 44px;
  font-weight: 700;
  color: #172b4d;
  text-align: center;
}

.contact .contact-me form {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
}

.contact .contact-me form input {
  height: 48px;
  border: none;
  border-bottom: 1px solid #dbd8d7;
  background-color: var(--background);
  padding: 12px;
  font-family: var(--inter-font);
}

.contact .contact-me form textarea {
  background-color: #fbf8f7;
  height: 114px;
  padding: 12px;
  border: none;
  font-family: var(--inter-font);
  font-style: italic;
  border-radius: 4px;
  margin-top: 24px;
}

.contact .contact-me form button {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  width: 131px;
  height: 48px;
  align-self: center;
  margin-top: 24px;
}

footer {
  border-top: 1px solid var(--dull-background);
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .footer-icons {
  display: flex;
  gap: 18px;
  padding: 20px 0;
}

footer .footer-icons a i {
  opacity: 1;
  color: #0a2c66;
}

footer .footer-icons a:hover {
  opacity: 0.7;
}

@media only screen and (min-width: 768px) {
  nav {
    height: 72px;
    padding: 0 143px;
    top: 0;
  }

  nav #mobile-menu {
    display: none;
  }

  nav #desktop-menu {
    display: flex;
    gap: 30px;
    position: relative;
    padding: 0;
    font-size: 15px;
    background: none;
  }

  nav #desktop-menu .nav-item a:is(:link, :active, :visited) {
    color: var(--white-text);
  }

  nav #desktop-menu .nav-item a:hover {
    color: var(--orange-text);
  }

  .btn:hover {
    color: var(--orange-text);
    background-color: var(--white-text);
  }

  .btn:hover a,
  .btn:hover img {
    color: var(--orange-text);
  }

  #headline-sec {
    background-image: url(assests/bg.png);
    background-repeat: no-repeat;
    background-position-x: 86%;
    height: 100vh;
  }

  #headline-sec .headline {
    justify-content: flex-end;
  }

  #headline-sec .headline h2 {
    font-size: 72px;
    line-height: 81px;
  }

  #headline-sec .headline .text-animate h3 {
    font-size: 32px;
    line-height: 44px;
  }

  #headline-sec .headline p {
    width: 566px;
    font-size: 20px;
  }

  #headline-sec .headline .icons a:hover {
    filter: opacity(1) drop-shadow(2px 1px var(--orange-text));
  }

  .sec {
    padding: 0 143px;
  }

  .popup {
    width: 100%;
  }

  .popup .popup-container {
    margin: 30px 60px;
    padding: 20px 30px;
    width: 100%;
  }

  .popup .popup-container .project-img {
    justify-content: flex-start;
    max-width: 55%;
  }

  .popup .popup-container .project-img img {
    max-height: 300px;
  }

  #projects {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
  }

  #projects .project,
  #projects button {
    flex: 0 0 31.333333%;
  }

  #projects .project {
    height: 435px;
    padding: 0 13px;
  }

  .project:hover {
    opacity: 0.8;
    transform: scale(1.05);
  }

  .about {
    border-bottom: 1px solid #fff;
    background-image: url(assests/desktop/aboutmebg.png);
    background-position: center right;
  }

  .about .about-me {
    border: none;
  }

  .about .about-me h3 {
    font-size: 72px;
    line-height: 81.5px;
  }

  .about .about-me p {
    width: 566px;
    font-size: 20px;
    line-height: 32px;
  }

  .skills {
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }

  .skill .single-skill {
    gap: 24px;
    padding-bottom: 130px;
  }

  .contact {
    padding-top: 130px;
  }

  .contact p {
    width: 455px;
    font-size: 40px;
    line-height: 52px;
  }

  .contact .contact-me {
    flex-direction: row;
  }

  .contact .contact-me form {
    margin-top: 0;
    margin-left: 24px;
    width: 684px;
    justify-content: flex-start;
    padding-bottom: 154px;
  }

  .contact .contact-me form button {
    align-self: start;
  }

  footer .footer-icons a:hover img {
    filter: opacity(1) drop-shadow(1px 1px var(--orange-text));
  }
}

@keyframes homeBgText {
  0%,
  10%,
  100% {
    background-position: -36rem 0;
  }

  65%,
  85% {
    background-position: 0 0;
  }
}
