@import url('https://fonts.googleapis.com/css2?family=Crete+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  transition: all 0.2s linear;

  --nav-color: #3c3a39;
  --background: #e5e5e5;
  --orange-text: #ff6b00;
  --white-text: #fff5e1;
  --black-clr: #1c1a19;
  --dull-btn: rgba(255, 255, 255, 0.24);
  --dull-background: rgba(151, 148, 147, 1);
  --crete-font: 'Crete Round', serif;
  --poppins-font: 'Poppins', sans-serif;
  --roborto-font: 'Roboto', sans-serif;
  --inter-font: 'Inter', sans-serif;
}

body {
  background-color: var(--background);
}

.btn {
  background-color: var(--orange-text);
  color: var(--white-text);
  font-family: var(--inter-font);
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--white-text);
  color: var(--orange-text);
}

nav {
  display: flex;
  background-color: var(--nav-color);
  justify-content: space-between;
  height: 48px;
  align-items: center;
  padding: 24px 12px;
  font-family: var(--roborto-font);
  color: var(--white-text);

  a {
    color: var(--white-text);
  }

  #desktop-menu {
    display: none;
  }
}

.first {
  color: var(--orange-text);
}

.sec {
  display: flex;
}

#headline-sec {
  background-color: var(--black-clr);
  background-image: url(assests/mobile/headlinebg.png);
  background-repeat: no-repeat;
  background-position: 100% 126%;
}

.container {
  display: flex;
  flex-direction: column;
}

.headline {
  margin-top: 120px;
  gap: 12px;
  padding: 0 24px;
  color: var(--white-text);

  h2 {
    color: var(--orange-text);
    font-family: var(--crete-font);
    font-weight: 400;
    font-size: 56px;
  }

  h3 {
    font-family: var(--roborto-font);
    font-weight: 700;
    font-size: 24px;
  }

  p {
    font-family: var(--poppins-font);
    font-size: 16px;
    line-height: 24px;
  }
}

.icons {
  display: flex;
  gap: 12px;
  margin-top: 12px;
  margin-bottom: 120px;
  align-items: center;
}

#recent-sec {
  background-color: var(--background);
}

.recent-works {
  margin: 120px 0;
  align-items: center;

  h2 {
    font-family: var(--crete-font);
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    border-bottom: 1px solid #212121;
    padding-bottom: 24px;
    text-align: center;
  }

  #projects {
    margin-top: 24px;

    .project {
      padding: 0 13px;
      background-repeat: no-repeat;
      background-size: cover;
      margin-top: 24px;
      display: none;

      h3 {
        padding-top: 72px;
        font-family: var(--crete-font);
        font-size: 32px;
        line-height: 44px;
        color: #fff;
      }

      #project-descp {
        color: #fff;
        padding-top: 93px;
        font-family: var(--inter-font);
        font-size: 16px;
        line-height: 24px;
      }

      .tags {
        display: flex;
        padding-top: 12px;
        gap: 10px;

        p {
          border: 1px solid var(--black-clr);
          padding: 10px 12px;
          background-color: var(--dull-btn);
          color: var(--white-text);
          font-family: var(--inter-font);
          font-weight: 500;
          font-size: 15px;
          line-height: 20px;
        }
      }

      .btn-container {
        margin: 22px 0;

        .see {
          width: 100%;
          background-color: var(--orange-text);
          color: var(--white-text);
          font-family: var(--inter-font);
          font-weight: 700;
          line-height: 24px;
          font-size: 17px;
          height: 48px;
          border: none;
          border-radius: 5px;
        }
      }
    }

    .project:nth-child(1),
    .project:nth-child(2),
    .project:nth-child(3) {
      display: inline-block;
    }

    #prcjt4 {
      background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(assests/projects/todolist.png);
    }

    #prcjt5 {
      background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(assests/projects/awesoembooks.png);
    }

    #prcjt6 {
      background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(assests/projects/capsotne1.jpg);
    }

    #prcjt1 {
      background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(assests/projects/leaderboard.jpg);
    }

    #prcjt2 {
      background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(assests/projects/metrics-webapp.jpg);
    }

    #prcjt3 {
      background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(assests/projects/tv-hub.jpg);
    }

    #prcjt7 {
      background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(assests/projects/bookstore.jpg);
    }
  }

  #load-more {
    width: 200px;
    margin-top: 20px;
    display: inline-block;
    padding: 5px 10px;
    font-size: 22px;
    align-self: center;
    border-radius: 12pc;
  }
}

.about {
  background-image: url(assests/mobile/aboutmebg.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-color: var(--black-clr);
  padding: 0 24px;

  .about-me {
    border-bottom: 1px solid #fff;
    padding-bottom: 209px;

    h3 {
      margin-top: 120px;
      font-family: var(--crete-font);
      font-weight: 400;
      font-size: 70px;
      line-height: 88px;
      color: var(--orange-text);
    }

    p {
      margin-top: 24px;
      color: var(--white-text);
      font-family: var(--inter-font);
      font-size: 16px;
      line-height: 24px;
    }

    button {
      margin-top: 24px;
      width: 156px;
      height: 48px;
      font-weight: 700;
      font-size: 17px;
      line-height: 24px;
    }
  }
}

.skills {
  background-color: var(--black-clr);
  align-items: center;
  flex-direction: column;
  padding: 136px 0;

  .skill {
    align-items: center;
    margin-top: 44px;

    h4 {
      font-family: var(--inter-font);
      font-weight: 700;
      font-size: 32px;
      line-height: 44px;
      color: var(--white-text);
      display: flex;
      align-items: center;
      gap: 15px;
    }

    p {
      font-family: var(--inter-font);
      font-size: 22px;
      line-height: 42px;
      color: var(--white-text);
    }

    .single-skill {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 44px;
    }
  }
}

.contact {
  background-color: var(--background);
  flex-direction: column;
  margin: 0 23px;
  padding: 70px 0;

  p {
    font-family: var(--inter-font);
    font-size: 32px;
    line-height: 44px;
    font-weight: 700;
    color: #172b4d;
    text-align: center;
  }

  .contact-me {
    form {
      display: flex;
      flex-direction: column;
      margin-top: 24px;

      input {
        height: 48px;
        border: none;
        border-bottom: 1px solid #dbd8d7;
        background-color: var(--background);
        padding: 12px;
        font-family: var(--inter-font);
      }

      textarea {
        background-color: #fbf8f7;
        height: 114px;
        padding: 12px;
        border: none;
        font-family: var(--inter-font);
        font-style: italic;
        border-radius: 4px;
        margin-top: 24px;
      }

      button {
        font-weight: 700;
        font-size: 17px;
        line-height: 24px;
        width: 131px;
        height: 48px;
        align-self: center;
        margin-top: 24px;
      }
    }
  }
}

footer {
  border-top: 1px solid var(--dull-background);
  display: flex;
  justify-content: center;
  align-items: center;

  .footer-icons {
    display: flex;
    gap: 18px;
    padding: 20px 0;
  }
}

@media only screen and (min-width: 768px) {
  nav {
    height: 72px;
    padding: 0 143px;

    #mobile-menu {
      display: none;
    }

    #desktop-menu {
      display: flex;
      gap: 30px;

      .nav-item {
        a {
          color: var(--white-text);
        }

        a:hover {
          color: var(--orange-text);
        }
      }
    }
  }

  #headline-sec {
    background-image: url(assests/desktop/headlinebg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: contain;
    height: 100vh;

    .headline {
      h2 {
        font-size: 72px;
        line-height: 81px;
      }

      h3 {
        font-size: 32px;
        line-height: 44px;
      }

      p {
        width: 566px;
        font-size: 20px;
      }

      .icons {
        a:hover {
          background-color: var(--orange-text);
          border-radius: 5px;
        }
      }
    }
  }

  .sec {
    padding: 0 143px;
  }

  #projects {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;

    .project,
    button {
      flex: 0 0 31.333333%;
    }

    .project {
      height: 435px;
      border-radius: 10px;
    }
  }

  .project:hover {
    transform: scale(1.05);
  }

  .about {
    border-bottom: 1px solid #fff;
    background-image: url(assests/desktop/aboutmebg.png);
    background-position: center right;

    .about-me {
      border: none;

      h3 {
        font-size: 72px;
        line-height: 81.5px;
      }

      p {
        width: 566px;
        font-size: 20px;
        line-height: 32px;
      }
    }
  }

  .skills {
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }

  .skill {
    .single-skill {
      gap: 24px;
      padding-bottom: 130px;
    }
  }

  .contact {
    padding-top: 130px;

    p {
      width: 455px;
      font-size: 40px;
      line-height: 52px;
    }

    .contact-me {
      flex-direction: row;

      form {
        margin-top: 0;
        margin-left: 24px;
        width: 684px;
        justify-content: flex-start;
        padding-bottom: 154px;

        button {
          align-self: start;
        }
      }
    }
  }

  footer {
    .footer-icons {
      a:hover {
        img {
          filter: opacity(1) drop-shadow(1px 1px var(--orange-text));
        }
      }
    }
  }
}
