.container-header {
  display: flex;
  background: #3c3a39;
}

.mylogo {
  height: fit-content;
  width: 61px;
}

#name {
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  width: -webkit-fill-available;
  height: 44px;
  left: 12px;
  top: calc(50% - 44px / 2);
}

p#name {
  color: antiquewhite;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  align-items: center;
  text-align: justify;
  width: 90px;
  height: 24px;
  flex: 1 0 100px;
  order: 0;
}

.union {
  padding: 25px;
  flex: 0 10 1px;
}

.container-headline {
  display: flex;
  flex-wrap: wrap;
  background-color: black;
  flex-direction: column;
}

h3#greetings {
  color: #ff6b00;
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 57px;
  line-height: 64px;
  padding-top: 120px;
  padding-left: 24px;
  padding-right: 24px;
  margin-top: -1px;
}

#intro1 {
  color: #fff5e1;
  width: 327px;
  height: 27px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  margin-top: -65px;
  padding-left: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 24px;
}

#intro2 {
  color: #fff5e1;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  flex: none;
  order: 2;
  flex-grow: 0;
  padding-left: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 24px;
  margin-top: -30px;
}

.contacts {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: left;
  padding-left: 24px;
}

#linkedin_btn {
  opacity: 1;
}

#twitter_btn {
  opacity: 1;
}

#vector_btn {
  opacity: 1;
}

#m_btn {
  opacity: 1;
}

#en_btn {
  opacity: 1;
}

#linkedin_btn:hover {
  opacity: 0.2;
}

#twitter_btn:hover {
  opacity: 0.2;
}

#vector_btn:hover {
  opacity: 0.2;
}

#m_btn:hover {
  opacity: 0.2;
}

#en_btn:hover {
  opacity: 0.2;
}

.container-works {
  display: flex;
  flex-direction: column;
}

.solid {
  margin: 12px 24px;
}

#works_heading {
  height: 6px;
  font-weight: 400;
  font-size: 39px;
  padding: 24px;
  font-family: 'Crete Round', serif;
}

.lang-container {
  display: flex;
  justify-content: space-around;
  padding: 10px 12px;
  margin-left: -25px;
}

.lang {
  border: 1px solid #8993a4;
  padding: 5px;
  margin: 12px;
}

#projects-btn {
  background-color: #ff6b00;
  align-items: center;
  color: white;
  border: none;
  width: 124px;
  height: 48px;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  font-family: 'Inter', sans-serif;
  letter-spacing: 0.03em;
  display: flex;
  align-items: center;
  text-align: center;
}

.projects {
  margin: 12px 24px;
}

.works_image {
  width: 304px;
  padding-left: 2px;
}

#multi_heading {
  height: 36px;
  font-weight: 400;
  font-size: 32px;
  line-height: 1px;
  margin-bottom: auto;
  margin-top: 30px;
  font-family: 'Crete Round', serif;
}

#works_intro {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  flex: none;
  order: 1;
  flex-grow: 0;
  font-family: 'Inter', sans-serif;
  margin-bottom: auto;
}